---
apiVersion: v1
kind: Namespace
metadata:
  name: haproxy
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: haproxy
spec:
  interval: 5m
  url: https://haproxy-ingress.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: haproxy
spec:
  interval: 5m
  chart:
    spec:
      chart: haproxy-ingress
      sourceRef:
        kind: HelmRepository
        name: haproxy
      interval: 1m
  valuesFrom:
    - kind: ConfigMap
      name: haproxy-values-yaml
      valuesKey: values.yaml
