apiVersion: v1
kind: Namespace
metadata:
  name: promtail
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail-daemonset
spec:
  selector:
    matchLabels:
      name: promtail
  template:
    metadata:
      labels:
        name: promtail
    spec:
      serviceAccountName: promtail-serviceaccount
      volumes:
        - name: logs
          hostPath:
            path: /var/log/
        - name: promtail-config
          persistentVolumeClaim:
            claimName: promtail-pvc
      imagePullSecrets:
        - name: ips
      containers:
        - name: promtail-container
          image: docker.io/grafana/promtail
          args:
            - -config.file=/etc/promtail/promtail.yaml
            - -config.expand-env
          env:
            - name: 'HOSTNAME'
              valueFrom:
                fieldRef:
                  fieldPath: 'spec.nodeName'
          volumeMounts:
            - name: logs
              mountPath: MOUNT_PATH
            - name: promtail-config
              mountPath: /etc/promtail

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: promtail-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: promtail-clusterrole
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - services
      - pods
    verbs:
      - get
      - watch
      - list
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: promtail-serviceaccount
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: promtail-clusterrolebinding
subjects:
  - kind: ServiceAccount
    name: promtail-serviceaccount
    namespace: default
roleRef:
  kind: ClusterRole
  name: promtail-clusterrole
  apiGroup: rbac.authorization.k8s.io
